<!DOCTYPE html>
<html>
<head>
	<title>Caesar Cipher</title>
</head>
<body>
	<h1>Caesar Cipher Encryptor</h1>
	<form method="post" action="/">
		<input type="text" name="string" placeholder="Enter your string">
		<input type="submit" value="Encrypt">
	</form>
</body>
</html>