<!DOCTYPE html>
<html>
<head>
	<title>Caesar Cipher</title>
</head>
<body>
	<h1>Caesar's Cipher Encryptor</h1>
	<form>
		<input type="text" name="string">
		<input type="submit" value="encrypt">
	</form>
</body>
</html>